[Desktop Entry]
Version=1.0
Type=Application
Name=RuneScape
GenericName=RuneScape
Comment=RuneScape - A Free MMORPG from Jagex Ltd.
Icon=com.jagex.RuneScape
Terminal=false
Exec=runescape %u
Categories=Game;
MimeType=x-scheme-handler/rs-launch;x-scheme-handler/rs-launchs

